*{margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Poppins', sans-serif;

}
.half-widh{
    width: 50%;
    padding-left: 2%;
    padding-top: 10px;
}
.half-widh h1{
    font-size: 50px;
}
.half-widh img{
    width: 80%;
}
.container{
    display: flex;
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
}
h2 span{
    color: tomato;
}
.half-widh h4{
    padding: 5px;
}
.half-widh a{
    text-decoration: none;
    background-image: linear-gradient(orange ,tomato);
    padding: 5px 40px;
    border-radius: 5px;

}
.contain{
    display: flex;
    margin-top: 100px;
}
.contain img{
    bg
}
.half-w{
    width: 50%;
   
}
.half-w img{
    width: 70%;
}
.half-a{
    width: 50%;
    background-image: url(/images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
   
}
.btn{
    background: linear-gradient(orange,tomato);
    padding: 6px 40px;
    color: white;
    border-radius: 5px;
}
.experience{
    display: flex;
    background-image: url(/images/exp-bg.png);
    background-repeat: no-repeat;
}
.experience h2{
    font-size: 30px;
}
.experience h4{
    color: rgba(224, 66, 18, 0.767);
    
}
footer{
    text-align: center;
 
}
section h4{
    color: rgba(224, 66, 18, 0.767);
    
}
.experience div{
    box-shadow:10px 10px 30px gray ;
       width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;  
}
.header{
    font-size: 50px;
}
